<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="si" method="post">
<input type="number" name="studentid" placeholder="sid"><br>
<input type="text" name="studentname" placeholder="sname"><br>
<input type="text" name="studentEmail" placeholder="semail"><br>
<select name="coursename">
<option>devops</option>
<option>java</option>
<option>python</option>
</select>
<button>Submit</button>
</form>
</body>
</html>